@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 100% 98.6%;
    --foreground: 240 10% 3.9%;
    --card: 255 100% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 255 100% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 261 100% 86.5%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 261 50% 95%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 261 50% 95%;
    --muted-foreground: 240 5% 45%;
    --accent: 261 100% 80.6%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 50% 90%;
    --input: 261 50% 90%;
    --ring: 261 100% 81%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 261 100% 86.5%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 261 100% 80.6%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 261 100% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
  main {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
  }
  .printable-area {
    display: block !important;
  }
}
